{% extends 'base.html.twig' %}


{% block content %}
    <h1>GenjFaqBundle</h1>
    <p>
        Welcome to the GenjFaqBundle example template.
    </p>

    {% for category in categories %}
        <h2>{{ category.headline|e }}</h2>
        {% for question in category.questions %}
            <p><strong>{{ question.headline|e }}</strong></p>
            <p>{{ question.body }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}