    <h2>Most popular queries</h2>

    <ul>
    {% for query in queries %}
        <li><a href="{{ path(query.routeName, query.routeParameters) }}">{{ query.headline }}</a> ({{ query.searchCount }})</li>
    {% else %}
        <li>none yet - start searching</li>
    {% endfor %}
    </ul>
