    <h2>Most recent questions</h2>

    <ul>
    {% for question in questions %}
        <li><a href="{{ path(question.routeName, question.routeParameters) }}">{{ question.headline }}</a></li>
    {% endfor %}
    </ul>
